<!DOCTYPE html>
<html>
    <head>
        <link href="/css/style.css" rel="stylesheet" >  
        <link rel="icon" href="../img/weather.png">
        <title>About</title>
    </head>
    <body>
        <div class="main-content">
        {{>header}}
        <img class="portrate" src="../img/me.png">
        <br>
        This site created by sandip kurhade. It use data from maqbox.com and darksky.net!.
        {{>footer}}
        </div>
    </body>
</html>